# === node_modules ===
node_modules/

# === Android build ===
android/.gradle/
android/.idea/
android/.cxx/
android/app/build/
android/build/
*.apk
*.so
*.keystore
local.properties

# === iOS ===
ios/Pods/
ios/build/

# === Metro, Expo, Cache ===
.expo/
metro-cache/
*.jsbundle

# === Otros ===
*.log
*.tmp
*.swp
.vscode/
.idea/
